VITE_WHATSAPP_NUMBER=97699990000
VITE_WHATSAPP_LINK=https://wa.me/97699990000
VITE_FACEBOOK_MESSENGER_LINK=https://m.me/aylal
VITE_PHONE=+976 9999-0000

# Demo admin login. Change before deploying publicly.
VITE_ADMIN_USERNAME=admin
VITE_ADMIN_PASSWORD=change-this-password
